.not-found-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #333;
}

p {
  color: #555;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
